@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,:root{
    padding: 0 0;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #363636;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h1{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 5rem;
    align-items: center;
    background-color: #363636;
    color:white;
    width: 100vw;
    text-align: center;
    height: 5rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 5rem;
    background-color: rgb(247, 247, 247);
    transition: ease 0.5s;
    overflow: hidden;
    box-shadow: 0px 0px 30px #3838382c;
    z-index: 1000;
}
header.menu-active{
    width: 25rem;
}
    #logo{
        margin: 2.5rem auto 2.5rem auto;
        width: 70%;
    }
    #dev{
        margin: auto auto 2.5rem auto;
        width: 2rem;
        opacity: 0.5;
    }
    header nav{
        width: 100%;
    }
        .nav-head{
            display: flex;
            margin: 1rem auto 1rem auto;
            /* padding-left: 15%; */
            padding: 0.5rem 0 0.5rem calc(25% + 3px);
            flex-wrap: nowrap;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            transition: ease 0.5s;
        }
        .nav-head.active{
            padding: 1rem 0 1rem 25%;
        }
        header.menu-active .nav-head{
            padding: 1.5rem 0 1.5rem 15%;
            margin: 0 auto 0 auto;

        }
            .nav-icon{
                min-width: 2rem;
                height: 3rem;
                background: no-repeat center;
                transition: ease 0.5s;
            }
                .nav-head#users .nav-icon{
                    background-image: url('../svg/users.svg');
                }
                .nav-head#shop .nav-icon{
                    background-image: url('../svg/orders.svg');
                }
                .nav-head#help .nav-icon{
                    background-image: url('../svg/help.svg');
                }
            header.menu-active .nav-icon{
                min-width: 3.5rem;
                max-width: 3.5rem;
                margin: auto 0 auto 5px;
            }
            header.menu-active .active .nav-icon{
                margin: auto 0 auto 0;
            }
        .nav-head.active{
            border-left: 4px solid #06d6a0;
        }
            .active#users .nav-icon{
                background-image: url('../svg/users_green.svg');
            }
            .active#shop .nav-icon{
                background-image: url('../svg/orders_green.svg');
            }
            .active#help .nav-icon{
                background-image: url('../svg/help_green.svg');
            }
            .nav-title{
                visibility: hidden;
                margin-left: 3rem;
                opacity: 0;
                transition: 0.5s;
            }
            header.menu-active .nav-title{
                visibility: visible;
                opacity: 1;
                transition: 0.5s;
            }
        .nav-list{
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            width: 70%;
            margin: -1.5rem auto 0 auto;
            transition-delay: 1s;
            transition: max-height 1s ease;
            
        }
        header.menu-active .nav-list{
            visibility: visible;
            max-height: 10rem;
            opacity: 1;
            transition: opacity 0.5s, max-height 1s ease;
            /* transition-delay: opacity 0.5s, max-height 1s; */
            transition-delay: 0.1s;
            
        }
            .nav-list li{
                margin: 0.3rem 0 0.3rem 6.85rem;
                width: 15rem;
                list-style: none;
                /* width: fit-content; */
            }
                .nav-list li a{
                    font-size: 1.1rem;
                }
                .nav-list li a:hover{
                    color: #06d6a0;
                }
                .nav-list li.link-active a{
                    color: #06d6a0;
                }

body{
    width: calc(100vw - 5rem);
    /* background-image: url(../svg/crudback4.svg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color : #F9F9FB;
    
    margin: 0 0 0 5rem;
    height: 100vh; 
    transition: ease 0.5s;
}
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
        section{
            height: 80vh;
            width: fit-content;
            margin: auto;
            background-color: white;
            /* box-shadow: 0px 0px 50px #c2c2c22c; */
            box-shadow: rgba(10, 10, 15, 0.1) 0px 1px 1px;

            display: flex;
            flex-direction: column;
            transition: ease 0.5s;
        }
            section.over{
                margin: auto calc(5rem + auto) auto auto;
            }
    
/* USER LIST CSS */
            .head-table{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .table{
                height: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
            }
                .table::-webkit-scrollbar{
                    width: 5px;
                    
                }
                .table::-webkit-scrollbar-track{
                    background-color: #ffffff;
                    border-radius: 100px;
                }
                .table::-webkit-scrollbar-thumb{
                    background-color: #06d6a0;
                    border-radius: 100px;
                }
            .table table{
                width: 100%;
                height: fit-content;
                margin-top: auto;
            }
            tbody{
                width: 100%;
            }
            tbody tr:first-child td article{
                border-top: 1px solid #e6ecec; 
            }
                tbody td article.active{
                    background-color: #06d6a0;
                    border: 1px solid #06d6a0;
                    /* transform: translateY(-7px); */
                    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
                    color: #fff;
                    transition: all 0.3s ease 0s;
                    /* transform: scale(1.05) translateY(-6%); */
                }
                    tbody td article.active div span{
                        color: white;
                    }
                    tbody td article.over div.user-type span{
                        color: #757575;
                    }
                    tbody td article.over div.user-more button{
                        background-image: url('../svg/dots_white.svg');
                    }
                
                tr{
                    display: flex;
                    width: 100%;
                    height: fit-content;
                }
                    th,td{
                       
                    }
                    th{
                        color: #363636;
                        font-weight: 400vb ;
                        font-size: 1.2rem;  
                        text-align: start;      
                    }
                        .th-user-id{
                            width: 4rem;
                        }
                        .th-user-name{
                            text-align: start;
                            width: 20rem;
                            margin-left: 1rem;
                        }
                        .th-user-contact{
                            width: 10rem;
                        }
                        .th-user-verified{
                            width: 10rem;
                        }
                        .th-user-type{
                            width: 8rem;
                        }
                    td{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: #757575;
                        width: 100%;
                    }
                        td article{
                            display: flex;
                            flex-wrap: nowrap;
                            width: 100%;
                            padding: 1rem 0;
                            margin: 0 1rem;
                            align-items: center;
                            border-radius: 2px;
                            border-bottom: 1px solid #e6ecec;
                            /* border-right: 0px solid #e6ecec;
                            border-left: 0px solid #e6ecec; */
                            transition: all 0.3s ease 0s;
                        }
                        td article.over{
                            background-color: #fafafa;   
                            transition: none;                         
                            /* transform: scale(1.1); */
                        }
                        .user-id{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 4rem;
                        }
                            .user-id span{
                                opacity: 0.6;
                                padding: 0.3rem 0.55rem;
                                border-radius: 5px;
                                background-color: #2a9d90;
                                color: #C7E6E2;
                                /* color: white; */
                            }
                            tr:nth-child(even) .user-id span{
                                background-color: #C7E6E2;
                                color: #2a9d90;
                            }
                        .user-name{
                            display: flex;
                            justify-content: flex-start;
                            margin-left: 1rem;
                            width: 20rem;
                            overflow-x: hidden;
                        }
                            .user-name span{
                                color: #858585
                            }
                        .user-icon{
                            width: 2.7rem;
                            margin-right: 1rem;
                        }
                        .user-contact{
                            width: 10rem;
                        }
                        .user-verified{
                            width: 10rem;
                        }
                            .user-verified span{
                                padding: 0.3rem 1.3rem;
                                border-radius: 5px;
                            }
                            .user-verified .true{
                                background-color: #f8fef5;
                                color: #6adb6a;
                            }
                            .user-verified .false{
                                background-color: #FEF5F6;
                                color: #DB6A7C;
                            }
                        .user-Type{
                            width: 12rem;
                        }
                            .user-Type span{
                                background-color: white;
                                border-radius: 30px;
                                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
                                padding: 0.5rem 1rem;
                                width: 100%;
                                text-align: center;
                                color: #757575;
                                letter-spacing: 1.5px;
                                transition: all 0.3s ease 0s;
                                cursor: default;
                            }
                            .user-Type .ind

                        div.user-more{
                            width: 5rem;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .user-more nav button{
                            width: 5rem;
                        }
                            .user-more nav button{
                                font-size: 0;
                                width: 1.5rem;
                                height: 1.5rem;
                                background-image: url('../svg/dots.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                border: none;
                                background-color: transparent;
                            }
                            .user-more nav div{
                                position: absolute;
                                top:0;
                                background-color: white;
                                /* display: none; */
                            }

                            
                            label.label-checkbox{
                                display: block;
                                width: 30px;
                                height: 30px;
                                transform: rotateZ(-90deg);
                                transition: 0.3s ease;
                                cursor: pointer;
                            }
                            
                            label.label-checkbox div.div-checkbox
                            {
                                width: 6px;
                                height: 6px;
                                background-color: rgb(204, 204, 204);
                                margin-left: 0;
                                margin-bottom: 6px;
                                border-radius: 4px;
                                transition: 0.3s ease;
                                width: 6px;
                                margin-left: 12px;
                                margin-bottom: 3px;
                            }
                                label.label-checkbox:hover div{
                                    background-color: #06d6a0;
                                }
                                .user-action:checked ~ label.label-checkbox div.div-checkbox:first-child
                                {
                                    width: 16px;
                                    height: 4px;
                                }
                                .user-action:checked ~ label.label-checkbox div.div-checkbox:nth-child(2)
                                {
                                    width: 10px;
                                    height: 4px;
                                }
                                .user-action:checked ~ label.label-checkbox div.div-checkbox:last-child
                                {
                                    width: 20px;
                                    height: 4px;
                                    margin-bottom: 0;
                                }
                                .user-action:checked ~ label.label-checkbox
                                {
                                    transform: rotateZ(0deg) translateX(-25%) translateY(15%);
                            
                                }
                                .user-action:checked ~ label.label-checkbox div.div-checkbox
                                {
                                    background-color: white;
                                }
                            .user-action
                            {
                                display: none;
                            }

                        tbody div.user-more-list{
                            position: fixed;
                            display: flex;
                            height: 100vh;
                            overflow: hidden;
                            width: 0;
                            max-width: 0;
                            top: 0;
                            right: 0;
                            opacity: 0;
                            transition: 0.5s ease;

                        }
                            
                            tbody div.user-more-list.over{
                                flex-direction: column;
                                opacity: 1;

                                max-width: 20rem;
                                width: 20rem;

                                overflow: hidden;
                                background-color: white;
                                box-shadow: 0px 0px 30px #3838382c;

                            }
                            tbody div.user-more-list .user-more-list-section{
                                display: hidden;
                                visibility: hidden;
                                opacity: 0;
                                transition: 0s;
                            }
                            tbody div.user-more-list.over .user-more-list-section{
                                display: flex;
                                visibility: visible;
                                flex-direction: column;
                                width: 80%;
                                background-color: white;
                                margin: 2rem auto 0 auto;
                                box-shadow: rgba(11, 11, 15, 0.178) 0px 1px 2px;

                                opacity: 1;
                                transition: opacity ease 0.5s;
                                transition-delay: opacity 0s;
                            }
                                
                                tbody div.user-more-list.over .user-more-list-section h3{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                    min-height: 4rem;
                                    height: 4rem;
                                    margin-right: auto;
                                    font-size: 1rem;
                                    color: #363636;
                                }
                                    tbody div.user-more-list.over .user-more-list-section h3 .section-icon{
                                        width: 1.2rem;
                                        height: 1.2rem;
                                        margin: 0 1rem 0 1rem;
                                    }
                                    
    
                                tbody div.user-more-list .user-more-list-section p{
                                    opacity: 0;
                                    margin-left: 1rem;
                                    margin-right: 1rem;
                                    transition: 0.5s ease;
                                    transition-delay: 0.5s;
                                }
                                    tbody div.user-more-list.over .user-more-list-section p{
                                        opacity: 1;
                                    }
                                tbody div.user-more-list .user-more-list-section a{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #09D6A0;
                                    margin: 1rem 1rem;
                                    padding: 1rem 0;
                                    color: white;
                                    opacity: 0;
                                    width: calc(100% - 2rem);
                                    border-radius: 15px;
                                }
                                    tbody div.user-more-list.over .user-more-list-section a{
                                        opacity: 1;
                                    }
                                    tbody div.user-more-list.over .user-more-list-section a:hover{
                                        background-color: #79E0C8;
                                        transition-delay: 0;
                                        transition: none;
                                    }

/* SINGLE USER CSS */
main.user-main{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
    section.user-section{
        height: fit-content;
        width: 30vw;
        padding: 2rem 2rem;
    }
        section.user-section h3{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin-right: auto;
            font-size: 1rem;
            color: #363636;
        }
            section.user-section h3 img{
                width: 1.2rem;
                height: 1.2rem;
                margin: 0 1rem 0 0;
            }

                                
               
@keyframes checkingradio{
    0%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}









