
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  

  
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
  }

/* SECTION CONNEXION */
#connexion, #register_success, #connected{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#connexion{
    position: fixed;
    top: 0;
    z-index: 1000000;
}

    .popup{
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem;
        max-width: 30rem;
        width: 30vw;
        height: 39rem;
        background-color: white;
        overflow: hidden;
    }
        #connexion form{
            margin: 0 0 0 0;
            height: fit-content;
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;  
            overflow: hidden;          
        }
            
            #connexion form h3{
                font-size: 2rem;
                margin-bottom: 5vh;
                color: #363636;
                font-family: 'Roboto Slab', serif;
            }

            #connexion form div{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 2rem;
            }
            
                #connexion form div label{
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                    color: #363636;
                }
                #connexion form div input[type=text],#connexion form div input[type=password], #connexion form div input[type=email]{
                    border: 0px;
                    border-bottom: 1px solid #363636;
                    height: 3rem;
                    background-color: rgb(248, 248, 248);
                    padding: 0 0 0 1rem;
                    font-size: 1.2rem;
                    width: 100%;
                }
                #connexion form div input[type=text]::placeholder,#connexion form div input[type=password]::placeholder{
                    opacity: 0.5;
                    font-size: 1rem;
                    font-family: 'titillium_webregular';
                }
                .error_Message{
                    display: none;
                    color: rgb(194, 93, 93);
                    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	                animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                }
                input[type=password]{
            
                    font: small-caption;
                    font-size: 1rem;
                    width: 100%;
                }
                #connexion form div#pass{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    height: fit-content;
                    margin-bottom: 0;
                }
                #login_Eye{
                    display: block;
                    min-height: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                    width: 3rem;
                    background-color: rgb(248, 248, 248);
                    border: 0px;
                    border-bottom: 1px solid #363636;
                    background-image: url(../svg/eyeclosed.svg);
                    background-size: 60%;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
                #fg_pass{
                    color: rgba(0, 0, 0, 0.248);
                    width: fit-content;
                }
                #fg_pass:hover{
                    color: #363636;
                    cursor: pointer;
                }
                input[type=submit]{
                    border: 0px;
                    font-size: 1.2rem;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    cursor: pointer;
                    background-color: rgb(248, 248, 248);
                }
                input[type=submit]:hover{
                    background-color: #363636;
                    color: white;
                    transition: ease 0.2s;
                }
                #new_account{
                    color: rgba(0, 0, 0, 0.248);
                    width: fit-content;
                }
                #new_account:hover{
                    color: #363636;
                    cursor: pointer;
                }
                .popup_button{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                }
                    .popup_close{
                        width: 2rem;
                        min-height: 2rem;
                        background-color: transparent;
                        background-image: url(../svg/cross.svg);
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 0px;
                        margin-left: auto;
                        cursor: pointer;
                    }
                    .popup_close:hover{
                        transform: rotate(360deg);
                        transition: ease 0.5s;
                    }
                    .popup_back{
                        width: 2rem;
                        min-height: 2rem;
                        background-color: transparent;
                        
                        background-image: url(../svg/back.svg);
                        border: 0px;
                        background-size: 40%;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                #register_Form div input[type=radio]{
                    display: none;
                }
                #connexion form div label.radio_Label{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                    width: fit-content;
                    font-size: 1.2rem;
                }
                #register_Form div input[type=radio] + label.radio_Label::before{
                    display: block;
                    content: "";
                    height: 1rem;
                    width: 1rem;
                    background-color: transparent;
                    border-radius: 1rem;
                    border: 1px solid #363636;
                    margin-right: 1vw;
                }
                #register_Form div input[type=radio]:checked + label.radio_Label::before{
                    background-color: #363636;
                    background: radial-gradient(circle, rgba(51,51,51,1) 51%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 72%, rgba(51,51,51,1) 73%);                /* animation: checkingradio 0.2s; */
                    background-position: center;
                    animation: checkingradio 0.2s;
                }
                #register_Continue{
                    text-align: center;
                    width: 100%;
                    border: 0px;
                    font-size: 1.2rem;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    cursor: pointer;
                    background-color: rgb(248, 248, 248);
                }
                #register_Continue:hover{
                    background-color: #363636;
                    color: white;
                    transition: ease 0.2s;
                }
                #connexion form #register_RGPD_Div{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
                #connexion form #register_RGPD_Div label{
                    font-size: 0.8rem;
                    cursor: pointer;
                }
                #connexion form #register_RGPD_Div label a{
                    font-weight: 800;
                }
                #connexion form #register_RGPD_Div label a:hover{
                    color: #363636;
                }
                #connexion form #register_RGPD_Div label.checkbox_Label{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    width: fit-content;
                    justify-content: center;
                    align-items: center;
                }
                #register_RGPD_Div input[type=checkbox] + label.checkbox_Label::before{
                    display: block;
                    content: "";
                    height: 1rem;
                    width: 1rem;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 1px solid #363636;
                    margin-right: 1vw;
                }
                #register_RGPD_Div input[type=checkbox]{
                    display: none;
                }
                #register_RGPD_Div input[type=checkbox]:checked + label.checkbox_Label::before{
                    background-color: #363636;
                    background-image: url(../svg/checked.svg);
                    background-position: center;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    animation: checking 0.1s ease;
                }
                #register_Submit_Div{
                    display: flex;
                    flex-direction: column;
                    height: 40%;
                    justify-content: space-around;
                    align-items: center;
                }
                #register_Submit_Div h4{
                    font-weight: 400;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Roboto Slab', serif;
                }
        #register_success .popup{
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 40vw;
            max-width: 60vw;
            margin-bottom: 10rem;
        }
        #register_success .popup h3{
            text-align: center;
            font-size: 2rem;
            font-family: 'Roboto Slab', serif;
            color: #363636;
        }
        #register_success .popup p{
            margin-top: 3rem;
            font-size: 1.4rem;
            text-align: center;
        }
        #register_success .popup button{
            border: 0px;
            font-size: 1.3rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin-top: 3rem;
            font-family: 'Roboto Slab', serif;
            cursor: pointer;
        }
        #register_success .popup button:hover{
            background-color: #363636;
            color: white;
            transition: ease 0.5s;
        }
    section#connected{
        justify-content: flex-end;
        align-items: start;
        z-index: 1000;
        
    }
    #connected #connect_popup{
        height: calc(100vh - 10rem);
        background-color: white;
    }
            
@keyframes checkingradio{
    0%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}                

@keyframes popupbigger{
    0%{
        height: 39rem;
    }
    100%{
        background-size: 41rem;
    }
}     

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
