textarea:focus, input:focus, input[type="text"]{
    outline: none;
}

*{
	-moz-box-sizing: border-box; box-sizing: border-box;
	margin: 0px;
	padding: 0px;
    font-family: 'titillium_webregular';
}
    *::-webkit-scrollbar {
        display: none;
    }
:root,body,main{
}
    body{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    a, mark{
        color: black;
        text-decoration: none;
        background-color: transparent;
    }
header{
    position: fixed;
    top: 0px;
    background-color: #363636;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 20vh;
    padding: 0 10vw;
    z-index: 100000;
}
    header nav:first-of-type{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
            header nav:first-of-type a{
                color: white;
				font-size: 1rem;
				display: flex;
            }
						#link_account{
							background: url(../svg/account.svg)
						}
						#link_cart{
							background: url(../svg/cart.svg)
						}
                        #link_market{
                            background: url(../svg/market.svg);
                        }
						#link_cart,#link_account,#link_market{
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							width: 2rem;
						}
        form{
            width: 100%;
            height: 2.6rem;
            display: flex;
        }
            header input[type=search]{
                width: 85%;
                height: 100%;

                padding: 0 4vw;
                border: none;
            }
            header button[type=submit]{
                width: 15%;
                height: 100%;

                border: none;
                background-color: white;

            }
            header button[type=submit] div{
                width: 100%;
                height: 100%;
                background: url(../svg/button.svg) no-repeat;
                background-size: 50%;
                background-position: center;
                opacity: 0.7;
                margin-left: auto;
            }
        header label{
            display: none;
        }
        .link_category a{
            text-transform: capitalize;
        }

@media screen and (min-width: 1050px) and (max-width: 3444px){
    header nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    header{
        height: 10rem;
        padding: 0 4vw;
        flex-direction: row;
		align-items: center;
    }
        header img{
            position: fixed;
            height: 16vh;
            width: 16vh;
            order: 1;
        }
        header nav:first-of-type{
            order: 3;
			width: auto;
			margin-left: auto;
            margin-top: 10px;
			height: 2rem;
        }
				.link_cart_t,.link_account_t,.link_market_t,.link_account_connected{
					display: flex;
					align-items: center;
					margin-left: 4vh;
				}
        header nav:first-of-type #link_account,header nav:first-of-type #link_cart, header nav:first-of-type #link_market{
            height: 2.3rem;
            width: 2.3rem;
			margin-left: 1.5vh;
		}
				.link_cart_t{
					order: 1;
					white-space: nowrap;
				}
				.link_account_t{
					order: 2;
					white-space: nowrap;
				}
                    .link_account_connected{
                        order: 2;
					    white-space: nowrap;
                    }
                .link_market_t{
                    display: inline;
                }
        form{
            order: 2;
            width: auto;
            flex-grow: 1;
            align-self: center;
            margin: 1vh 0 0 12.5rem;
        }
				header form input[type=search]{
					padding: 0 0 0 1vw;
                    width: 100%;
				}
				header button[type=submit]{
					width: 2.6rem;
                    height: 2.6rem;
				}
				header button[type=submit] div{
					width: 100%;
					height: 100%;
				}
        header nav:last-of-type{
            order: 5;
            margin: 0 0 1vh 12.5rem;
			overflow-x: auto;
            justify-content: start;
            width: 70%;
            flex-grow: 1;
            order: 4;
        }
        header nav:last-of-type::-webkit-scrollbar{
            display: none;
        }
        header nav:last-child div p{
            display: none;
        }
        header nav:last-child .prod_tablet:nth-child(2){
            padding: 1vh 2vw 1vh 0;
        }
				#leave{
					display: none;
				}
                .navigation_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.6rem;
                    height: 2.6rem;
                    border: 0px;
                    
                    background-color: transparent;
                   
                }
                div.right{
                    background: url(../svg/arrow.svg) no-repeat;
                    background-size: 70%;
                    background-position: center;
                    height: 1.375rem;
                    width: 1.375rem;
                    animation: smoothmoove 2s infinite reverse;
                    order: 5;
                    margin-left: 0.5rem;
                    margin-bottom: 1vh;
                }
				.link_category{
					white-space: nowrap;
					margin-right: 1.5rem;
				}
				.link_category a{
					color: white;
				}
				.link_category_type{
					display: none;
				}
				nav .navigation{
					height: 2.5rem;
					overflow-x: auto;
					flex-direction: row-reverse;
				}

}
@media screen and (min-width: 641px) and (max-width: 1049px){
    header nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }   
    header{
				height: 10.7rem;
                padding: 0.5vh 5vw 0.5vh 5vw;
				align-items: center;
    }
        header img{
            height: 4.5rem;
            width: 4.5rem;
            order: 1;
        }
        header nav:first-of-type{
            order: 3;
            align-self: center;
            margin-left: auto;
						width: auto;
						align-items: center;
        }
            header nav:first-of-type a{
                height: 45px;
                width: 100%;
                margin-left: 5vw;
								display: flex;
								align-items: center;
								white-space: nowrap;
            }
				header nav:first-of-type  a.link_cart_t{
					display: none;
				}
                header nav:first-of-type a.link_market_t{
                    display: none;
                }
				#link_account{
					height: 2rem;
					width: 2rem;
					margin-left: 2vw;
				}

        form{
            order:2;
            height: 3.5rem;
            width: auto;
            flex-grow: 2;
            align-self: center;
            margin-left: 2rem;
        }
        header input[type=search]{
            padding: 0 0 0 3vw;
            width: 100%;
        }
        header input[type=search]::placeholder{
            font-size: 1.15rem;
        }
        header button[type=submit]{
            width: 3.5rem;
            height: 3.5rem;
        }
        header button[type=submit] div{
            width: 3rem;
            height: 3rem;
        }
        header nav:last-of-type{
            order: 4;
            justify-content: start;
            overflow-x: auto;
        }
        header nav:last-child div{
            display: flex;
            flex-direction: column;
            height: 3.5rem;
            order: 1;
            overflow: hidden;
        }
            header nav:last-child div:hover{
                overflow: visible;
            }
            header nav:last-child div p{
                margin: 16px 0;
                display: flex;
            }
            header nav:last-child div p span{
                transform: rotate(90deg);
                font-size: 1rem;
                padding-left: 0.3rem;
            }
            header nav:last-child div a.prod_cat{
                margin: 1rem 0 1rem 0;
                color: #363636;
                opacity: 0;
            }
            header nav:last-child div:hover a.prod_cat{
                opacity: 1;
                transition: ease 0.5s;
            }
				#leave{
					display: none;
				}
				.link_category_type{
					display: none;
				}
				.link_category{
					white-space: nowrap;
					margin-right: 1.5rem;
				}
				.link_category a{
					color: white;
				}
				nav .navigation{
					overflow: scroll;
					flex-direction: row-reverse;
				}
}
@media screen and (min-width: 0px) and (max-width: 640px){
		header{
			height: 10.7rem;
		}
        header img{
            height: 3.5rem;
            width: 3.5rem;
            align-self: flex-start;
        }
        header nav{
            width: 70%;
            height: 3.5rem;
            margin-left: auto;
        }
						header nav:first-of-type a.link_cart_t{
							display: none;
						}
						#link_account{
							height: 2rem;
							width: 2rem;
							margin-left: 1rem;
						}
						header nav:first-of-type a.link_account_t{
							font-size: 1rem;
							align-items: center;
						}
                        header nav:first-of-type a.link_account_connected{
                            font-size: 1rem;
							align-items: center;
                        }
                        header nav:first-of-type a.link_market_t{
                            display: none;
                        }
        form{
            width: 100%;
            height: 2.6rem;
            display: flex;
        }
            header input[type=search]{
                width:100%;
                height: 100%;

                padding: 0 4vw;
                border: none;
            }
                header input[type=search]::placeholder{
                    color: #363636;
                    opacity: 0.7;
                }
                header button[type=submit]{
                    width: 2.6rem;
                    height: 2.6rem;
                }
                header button[type=submit] div{
                    width: 2.6rem;
                    height: 2.6rem;
                }
        header nav:last-child{
            min-width: 100%;
            margin-left: 0;
            margin-right: auto;

            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

        }
				header nav:last-child .prod_cat{
					visibility: hidden;
					opacity: 0;
				}
        header nav:last-child:hover .prod_cat{
            visibility: visible;
            opacity: 1;
        }
            header nav:last-child a:first-child{
                display: flex;
                margin: 0 0;
                font-size: 1.2rem;
                margin: 14.5px 0 14.5px 0;

            }
                header nav:last-child a:first-child p{
                    transform: rotate(90deg);
                    font-size: 1rem;
                    padding-left: 0.3rem;
                }
                #leave{
                    display: none;
                }
                .navigation{
                    overflow: hidden;
                    height: 56px;
                }
                .link_category_type:first-of-type{
                    display: flex;
                }
				.link_category_type:first-of-type h4{
                    display: flex;
                    align-items: center;
					color: white;
					font-weight: 500;
					font-size: 1.2rem;
                    height: 100%;
                    height: 56px;
				}
                .link_category_type:first-of-type span{
                    transform: rotateZ(90deg);
                    font-size: 1.2rem;
                    color: white;
                    margin-top: 0.2rem;
                }
				.link_category{
						width: 100vw;
				}
    .phone_nav{
        background-color: white;
        position: fixed;
        left: 0;
        height: 100vh;
        overflow-y: scroll;
		padding: 0 0 48px 0;
    }
        .phone_nav .link_category_type{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #363636;
            height: 3rem;
            width: 100%;
            text-align: center;
            color: white;
            padding: 0 10vw 0 10vw;
        }
        .phone_nav .link_category_type:first-of-type{
            position: fixed;
            bottom: 0;
            z-index: 1;
        }
        .phone_nav .link_category_type h4{

            height: 3rem;
            display: flex;
            align-items: center;
            margin-top: auto;
            color: white;
			font-weight: 500;
			font-size: 1.2rem;
        }
        header nav:last-of-type{
            margin-left: 0;
        }
        header .phone_nav{
            width: 100vw;
        }
            .navigation #leave{
                visibility: hidden;
 
            }
            .phone_nav #leave{
                display: inline;
                position: fixed;
                visibility: visible;
                height: 1.8rem;
                width: 1.8rem;
                background: url(svg/leave.svg) no-repeat;
                background-size: contain;
                background-position: center;
                border: 0px;
                left: 2rem;

                bottom: 9.6px;
                z-index: 2;
            }
            .phone_nav .link_category{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 4rem;
                width: 100vw;
                border-bottom: 1px solid #3636361e;
            }
            .navigation_button{display: none;}
}

@keyframes smoothmoove{
    0%{
        transform: translateX(0rem);
    }
    45%{
        transform: translateX(1rem);
    }
    50%{
        transform: translateX(0.7rem);
    }
    55%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  

  
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
  }

/* SECTION CONNEXION */
#connexion, #register_success, #connected{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 10rem);
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#connexion{
    position: fixed;
    z-index: 3;
}

    .popup{
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem;
        max-width: 30rem;
        width: 30vw;
        height: 39rem;
        background-color: white;
        overflow: hidden;
    }
        #connexion form{
            margin: 0 0 0 0;
            height: fit-content;
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;  
            overflow: hidden;          
        }
            
            #connexion form h3{
                font-size: 2rem;
                margin-bottom: 5vh;
                color: #363636;
                font-family: 'Roboto Slab', serif;
            }

            #connexion form div{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 2rem;
            }
            
                #connexion form div label{
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                    color: #363636;
                }
                #connexion form div input[type=text],#connexion form div input[type=password], #connexion form div input[type=email]{
                    border: 0px;
                    border-bottom: 1px solid #363636;
                    height: 3rem;
                    background-color: rgb(248, 248, 248);
                    padding: 0 0 0 1rem;
                    font-size: 1.2rem;
                    width: 100%;
                }
                #connexion form div input[type=text]::placeholder,#connexion form div input[type=password]::placeholder{
                    opacity: 0.5;
                    font-size: 1rem;
                    font-family: 'titillium_webregular';
                }
                .error_Message{
                    display: none;
                    color: rgb(194, 93, 93);
                    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	                animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                }
                input[type=password]{
            
                    font: small-caption;
                    font-size: 1rem;
                    width: 100%;
                }
                #connexion form div#pass{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    height: fit-content;
                    margin-bottom: 0;
                }
                #login_Eye{
                    display: block;
                    min-height: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                    width: 3rem;
                    background-color: rgb(248, 248, 248);
                    border: 0px;
                    border-bottom: 1px solid #363636;
                    background-image: url(../svg/eyeclosed.svg);
                    background-size: 60%;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
                #fg_pass{
                    color: rgba(0, 0, 0, 0.248);
                    width: fit-content;
                }
                #fg_pass:hover{
                    color: #363636;
                    cursor: pointer;
                }
                input[type=submit]{
                    border: 0px;
                    font-size: 1.2rem;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    cursor: pointer;
                    background-color: rgb(248, 248, 248);
                }
                input[type=submit]:hover{
                    background-color: #363636;
                    color: white;
                    transition: ease 0.2s;
                }
                #new_account{
                    color: rgba(0, 0, 0, 0.248);
                    width: fit-content;
                }
                #new_account:hover{
                    color: #363636;
                    cursor: pointer;
                }
                .popup_button{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                }
                    .popup_close{
                        width: 2rem;
                        min-height: 2rem;
                        background-color: transparent;
                        background-image: url(../svg/cross.svg);
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 0px;
                        margin-left: auto;
                        cursor: pointer;
                    }
                    .popup_close:hover{
                        transform: rotate(360deg);
                        transition: ease 0.5s;
                    }
                    .popup_back{
                        width: 2rem;
                        min-height: 2rem;
                        background-color: transparent;
                        
                        background-image: url(../svg/back.svg);
                        border: 0px;
                        background-size: 40%;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                #register_Form div input[type=radio]{
                    display: none;
                }
                #connexion form div label.radio_Label{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                    width: fit-content;
                    font-size: 1.2rem;
                }
                #register_Form div input[type=radio] + label.radio_Label::before{
                    display: block;
                    content: "";
                    height: 1rem;
                    width: 1rem;
                    background-color: transparent;
                    border-radius: 1rem;
                    border: 1px solid #363636;
                    margin-right: 1vw;
                }
                #register_Form div input[type=radio]:checked + label.radio_Label::before{
                    background-color: #363636;
                    background: radial-gradient(circle, rgba(51,51,51,1) 51%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 72%, rgba(51,51,51,1) 73%);                /* animation: checkingradio 0.2s; */
                    background-position: center;
                    animation: checkingradio 0.2s;
                }
                #register_Continue{
                    text-align: center;
                    width: 100%;
                    border: 0px;
                    font-size: 1.2rem;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    cursor: pointer;
                    background-color: rgb(248, 248, 248);
                }
                #register_Continue:hover{
                    background-color: #363636;
                    color: white;
                    transition: ease 0.2s;
                }
                #connexion form #register_RGPD_Div{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
                #connexion form #register_RGPD_Div label{
                    font-size: 0.8rem;
                    cursor: pointer;
                }
                #connexion form #register_RGPD_Div label a{
                    font-weight: 800;
                }
                #connexion form #register_RGPD_Div label a:hover{
                    color: #363636;
                }
                #connexion form #register_RGPD_Div label.checkbox_Label{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    width: fit-content;
                    justify-content: center;
                    align-items: center;
                }
                #register_RGPD_Div input[type=checkbox] + label.checkbox_Label::before{
                    display: block;
                    content: "";
                    height: 1rem;
                    width: 1rem;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 1px solid #363636;
                    margin-right: 1vw;
                }
                #register_RGPD_Div input[type=checkbox]{
                    display: none;
                }
                #register_RGPD_Div input[type=checkbox]:checked + label.checkbox_Label::before{
                    background-color: #363636;
                    background-image: url(../svg/checked.svg);
                    background-position: center;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    animation: checking 0.1s ease;
                }
                #register_Submit_Div{
                    display: flex;
                    flex-direction: column;
                    height: 40%;
                    justify-content: space-around;
                    align-items: center;
                }
                #register_Submit_Div h4{
                    font-weight: 400;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Roboto Slab', serif;
                }
        #register_success .popup{
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 40vw;
            max-width: 60vw;
            margin-bottom: 10rem;
        }
        #register_success .popup h3{
            text-align: center;
            font-size: 2rem;
            font-family: 'Roboto Slab', serif;
            color: #363636;
        }
        #register_success .popup p{
            margin-top: 3rem;
            font-size: 1.4rem;
            text-align: center;
        }
        #register_success .popup button{
            border: 0px;
            font-size: 1.3rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin-top: 3rem;
            font-family: 'Roboto Slab', serif;
            cursor: pointer;
        }
        #register_success .popup button:hover{
            background-color: #363636;
            color: white;
            transition: ease 0.5s;
        }
    section#connected{
        z-index: 3;
        justify-content: flex-end;
        
    }
    #connected #connect_popup{
        height: calc(100vh - 10rem);
        background-color: white;
    }
            
@keyframes checkingradio{
    0%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}                

@keyframes popupbigger{
    0%{
        height: 39rem;
    }
    100%{
        background-size: 41rem;
    }
}     

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

/* @keyframes popupsmaller{
    0%{
        background-size: 41rem;
        
    }
    100%{
        height: 39rem;
    }
}        */

/* FIN SECTION CONNEXION */