body{
    background-color: #F5F5F5;
}
main{
    margin-top: 10rem;
    display: flex;
    padding: 5vh 15vw 5vh 15vw;
}
    aside{
        display: flex;
        padding: 2vh 1vw 1vh 1vw;
        flex-direction: column;
        
        height: fit-content;
        width: 15vw;
        background-color: white;
    }
        aside h3{
            font-size: 1.4rem;
            color: #585858;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 2vh;
        }
        aside .div_Cat{
            display: flex;
            flex-direction: column;
            margin: 2vh 0 2vh 0;
        }   
            .div_Cat .label_Cat{
                font-size: 1.2rem;
                color: #585858;
                font-family: 'Roboto Slab', serif;
                margin-bottom: 1vh;
            }
            .div_Cat input[type="checkbox"],.div_Cat input[type="radio"]{
                margin-right: 1vw;
            }
    .div_Cat .checkbox_Div{
        display: flex;
    }
        .div_Cat .checkbox_Label,.radio_Label{
            display: flex;
            user-select: none;
            margin: 0.2rem 0 0.2rem 0;
            font-size: 1.05rem;
            font-family: 'Roboto Slab', serif;
            font-weight: 300;
            cursor: pointer;
        }
            .div_Cat input[type=checkbox]{
                display: none;
            }
            .div_Cat input[type=checkbox] + label.checkbox_Label::before{
                display: block;
                content: "";
                height: 1.5rem;
                width: 1.5rem;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid #363636;
                margin-right: 1vw;
                
            }
            .div_Cat input[type=checkbox]:checked + label.checkbox_Label::before{
                background-color: #363636;
                background-image: url(../svg/checked.svg);
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                animation: checking 0.1s ease;
            }
            .div_Cat input[type=radio]{
                display: none;
            }
            .div_Cat input[type=radio] + label.radio_Label::before{
                display: block;
                content: "";
                height: 1.5rem;
                width: 1.5rem;
                background-color: transparent;
                border-radius: 1rem;
                border: 1px solid #363636;
                margin-right: 1vw;
                
            }
            .div_Cat input[type=radio]:checked + label.radio_Label::before{
                background-color: #363636;
                background: radial-gradient(circle, rgba(51,51,51,1) 51%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 72%, rgba(51,51,51,1) 73%);                /* animation: checkingradio 0.2s; */
                background-position: center;
                animation: checkingradio 0.2s;
            }
    #articles{
        height: 80vh;
        width: 55vw;
        background-color: blanchedalmond;
    }

@keyframes checking {
    0%{
        background-size: 10%;
    }
    100%{
        background-size: 50%;
    }
}
@keyframes checkingradio{
    0%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}
